{% extends "blog/base.html" %}

{% block content %}
    <h1> Blog About </h1>
    <div>
        <p>
            <p>
                I have been trying to figure out how the atmosphere is, the day you came into my life. I had a hard time trying to figure this out because I was already out of the world, standing in front of the most awesome person in the world.
            </p>
            <p>
                You mean the universe to me. You’re more than an ordinary girl who wakes every morning and goes to bed every night. You are my superwoman with incredible superpowers. Thank you specifically for making my life awesome. I couldn’t have gone this far without you.
            </p>
            

 
        </p>
    </div>
{% endblock content %}



