{% extends "blog/base.html" %}

{% block content %}
    <h1> Blog About </h1>
    <div>
        <p>
           A web based blog application that you can use for creating your blog posts. You can create multiple post under your name. By signing up you get an automatically created profile and all of your posts will be displayed by your username.
           <br><br>
           For added security you can login and logout whenever you want. You can also change your password by entering your registered email and submitting a password change request to the admin.
           Happy blogging!

 
        </p>
    </div>
{% endblock content %}



