<!-- extending base template here from blog app -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
<!-- CSRF token, cross site request forgery token it is mandatory in django -->
{% block content %}
    <div class ="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type="submit">Post</button>

            </div>

        </form>

    </div>
{% endblock content %}
